In [1]:
#Python Type Conversion assignment

In [2]:
# 1.An integer can be converted into floating_point number by using float().
#    for example;

In [3]:
n = 5

In [4]:
type(n)

int

In [7]:
float(n)

5.0

In [8]:
#2 . A float can be converted into integer by using int() function.
#    for example;

In [9]:
j = 5.87

In [10]:
type(j)

float

In [18]:
int(j)

5

In [12]:
# 3. An integer can be converted into string by using str() function.
#   for example;

In [19]:
k = 56

In [20]:
type(k)

int

In [21]:
k = str(56)

In [22]:
type(k)

str

In [23]:
# 4.conversion of a list into tupple

In [36]:
l = [1 , 2 , 3 , 4 , 78]

def converter(l):
    return tuple(l)

print(converter(l))

(1, 2, 3, 4, 78)

In [37]:
# 5. conversion of tuple into list

In [46]:
my_tuple = ( 2, 3, 4, "harsh", "classic")
my_list = []

for i in my_tuple:
    my_list.append(i)
    
print(my_list)

[2, 3, 4, 'harsh', 'classic']

In [47]:
# 6 . conversion of a decimal into binary number

In [12]:
n = int(input("enter your number"))
        
l = list()
while n!=0:
    r = n%2
    l.append(r)
    n = n//2
    
l.reverse()
for ele in l:
        print(ele, end='')

enter your number 36

100100

In [13]:
# convert non zero number into boolean

In [14]:
n = 65

In [17]:
bool(n)

True